main {
    display: flex;
    flex-wrap: wrap;
}

/* base styles */

body {
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    align-items: center;
    background-color: #e0d6d6;
    font-family: "funsized", sans-serif;
    font-size: 1.5rem;
}

#socialmedia {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

/*  more about me */

#knowmemore {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#links {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#contact {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#myHeader {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

article {
    border: solid 2px black;
}

nav {
    font-family: "Karla", Helvetica, sans-serif;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: black;
    text-align: center;
    opacity: 0.6;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

line {
    border-right: 1px solid #ccc;
}

/* contact marign */

/* Banner background */

/* ul {
    list-style-type: none;
    margin: 5;
    padding: 20;
    overflow: hidden;
    background-color: black;
} */

/* Banner text */

/* 
li a {
    color: white;
    text-align: center;
    padding: 12px 45px;
    text-decoration: none;
    float: left;
    font-style: oblique;
    font-size: 26px;
    columns: 2;
    align-items: center flex-end;
} */

/* Mobile styles */

@media screen and (max-width: 300px) {
    body {
        background-color: #e0d6d6;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #e0d6d6;
    }
    li {
        float: left;
    }
}

/* Tablet styles */

@media screen and (min-width: 351px) and (max-width: 760px) {
    body {
        background-color: #e0d6d6;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #e0d6d6;
    }
    li {
        float: left;
    }
    /* Desktop styles */
        {
        @media screen and (min-width: 861px) {
            background-color: #e0d6d6;
        }