main {
    display: flex;
    flex-wrap: wrap;
}

/* header pane */

nav li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* base styles */

body {
    margin-top: 10px;
    padding: 50px;
    width: 100%;
    align-items: center;
    background-color: #e0d6d6;
    font-family: "funsized", sans-serif;
    font-size: 1.5rem;
    overflow: auto;
}

/*  more about me  (about me page) */

#bio {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#knowmemore {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#links {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

article {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    text-align: left;
}

/* contact page */

#links2 {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
    text-align: center;
}

#contact {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
    text-align: center;
}

#socialmedia {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
}

#myHeader {
    background-color: #e0d6d6;
    color: black;
    padding: 0px;
    text-align: center;
    overflow: auto;
}

/* all pages nav pane */

nav {
    font-family: "Karla", Helvetica, sans-serif;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: black;
    text-align: center;
    opacity: 0.6;
}

/* nav pane all pages */

nav li {
    display: inline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile styles */

@media screen and (max-width: 400px) {
    body {
        background-color: #e0d6d6;
    }
}

/* Tablet styles */

@media screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #e0d6d6;
    }
}

/* Desktop styles */

@media screen and (min-width: 500px) {
    body {
        background-color: #e0d6d6;
    }